// phần menu bên trái
.navbar {
    position: absolute;
    top: 55px;
    left: 0;
    width: 230px;
    background: #0973b9;
    height: calc(100vh - 55px);
}

// danh sách menu
.navbar__list {
    list-style: none;
}

// menu item
.navbar__item {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #016087;
    border-top: 1px solid #038ac1;
}

// menu link
.navbar__link {
    height: 100%;
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding-left: 12px;
}

// đổi màu khi hover vào link
.navbar__link:hover {
    background-color: #eb7728;
}

// icon menu item
.navbar__item-icon {
    display: block;
    background-repeat: no-repeat;
    background-image: url('assets/images/iconMenu.png');
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

// icon danh mục
.navbar__item-icon--dashboard {
    background-position: 0 0;
}

// icon báo cáo
.navbar__item-icon--report {
    background-position: 0 -192px;
}

// icon khuyến mại
.navbar__item-icon--discount {
    background-position: 0 -117px;
}

// icon danh mục
.navbar__item-icon--dictionary {
    background-position: 0 -156px;
}

// icon thiết lập hệ thống
.navbar__item-icon--setting {
    background-position: 0 -232px;
}

// icon ứng dụng
.navbar__item-icon--application {
    background-image: url('assets/images/ic_menu_list_connect_application.svg');
}

// icon bán hàng online
.navbar__item-icon--order-online {
    background-image: url('assets/images/ic_Web.svg');
}

//icon 5food
.navbar__item-icon--5food {
    background-image: url('assets/images/5food.png');
}

//icon trợ giúp
.navbar__item-icon--help {
    background-image: url('assets/images/iconHelp.png');
}

//icon thuê bao
.navbar__item-icon--subscriber {
    background-image: url('assets/images/icon-subscriber.png');
}

// panel hiện ra khi click vào item danh mục
.panel__dictionary {
    position: absolute;
    top: -127px;
    left: 100%;
    height: 100vh;
    width: 500px;
    background-color: #fff;
    z-index: 999;
    display: none;
}

#navbar__dictionary.active {
    background-color: #49a2e7;
}

// chỉnh hiển thị khi click vào item danh mục
#navbar__dictionary.show-panel .panel__dictionary {
    display: block;
}

// hàng
.panel__dictionary-row {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    color: #0072bb;
    font-weight: 600;
    text-transform: uppercase;
}

// phần header danh mục
.panel__dictionary-header {
    padding-left: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

// icon phần header thực đơn
.panel__dictionary-menu-header {
    background-image: url('assets/images/menu/InventoryItem.png');
}

// icon phần header nguyên vật liệu
.panel__dictionary-material-header {
    background-image: url('assets/images/menu/InventoryItemMaterial.png');
}

// một item của danh mục
.panel__dictionary-item {
    list-style: none;
    margin-left: 32px;
    position: relative;
}

// xet node tree cuối thanh 1 heigt còn 50%
.panel__dictionary-content .panel__dictionary-item:last-child .line-1 {
    height: 50%;
}

// dòng kẻ tree node
.line {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    left: -32px;
}

// dòng kẻ dọc
.line-1 {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: #dadada;
}

// dòng kẻ ngang
.line-2 {
    position: absolute;
    width: 50%;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: #dadada;
}

// link danh mục con
.panel__dictionary-link {
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    border: 1px solid transparent;
    padding: 0 10px 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #212121;
    font-size: 13px;
    display: block;
    height: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

// link danh mục con khi trỏ chuột
.panel__dictionary-link:hover {
    border-color: #43a3d5;
    background-color: #e6f3fb;
}