.grid {
    width: 100%;
    background: #eee;
    height: calc(100% - 30px);
}

table {
    width: 100%;
    min-width: 1200px;
    max-height: 100%;
    border-collapse: collapse;
}

tbody {
    height: calc(100% - 56px);
}

// thead {
//   position: sticky;
// }
thead tr td {
    background-color: #ededed;
    top: -1px;
    position: sticky;
}

.grid__content {
    overflow: scroll;
    width: 100%;
    height: calc(100% - 26px);
}

.grid__header {
    height: 56px;
    border: 1px solid #ccc;
}

.grid__header__item {
    flex: 1;
    height: 100%;
    width: 200px;
    background: #fff;
    border-right: 1px solid #ccc;
}

.grid__header-title {
    background-color: #ededed;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.grid__header-filter {
    height: 28px;
    width: 100%;
    display: flex;
}

.grid__header-split {
    height: 24px;
    width: 24px;
    margin-left: 4px;
    outline: none;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.grid__header-textbox {
    height: 24px;
    width: 100%;
    margin-right: 4px;
    padding-left: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.grid__header-textbox:focus {
    border-color: #0072bc;
}

tbody tr:hover {
    background-color: #d7e9f4;
}

.grid__cell {
    height: 24px;
}

tr:nth-child(odd) {
    background-color: #fafafa;
    // background-color: #c1ddf1;
}

.grid__column {
    padding-left: 12px;
}

.grid__column:nth-child(1) {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
}

.grid__column:nth-child(3) {
    min-width: 150px !important;
    width: 150px !important;
    max-width: 150px !important;
}

.grid__column:nth-child(4) {
    min-width: 130px !important;
    width: 130px !important;
    max-width: 130px !important;
}

.grid__column:nth-child(5) {
    min-width: 100px !important;
    width: 100px !important;
    max-width: 100px !important;
}

.grid__column:nth-child(6) {
    min-width: 150px !important;
    width: 150px !important;
    max-width: 150px !important;
}

tr,
td {
    border: 1px solid #ccc;
}

.grid__column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}