.toolbar {
    border-width: 1px 1px 0px;
    border-style: solid;
    height: 28px;
    background-color: #ededed!important;
    border-color: #d9d9d9;
    padding: 2px;
    display: flex;
    align-items: center;
}